<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provider View Table</title>
    <link th:href="@{/styles/table.css}" rel="stylesheet" />
</head>
<body>
    <h1>Feedback Recieved for <span th:text="${pname}"></span></h1>
    <form action="#" th:action="@{/filter}" th:object="${filter}" method="post">
        <label for="len">Filter by time: </label>
        <select id="len" name="len" th:field="*{len}">
            <option th:value="'A'" th:text="All"></option>
            <option th:value="'Y'" th:text="Year"></option>
            <option th:value="'M'" th:text="Month"></option>
            <option th:value="'W'" th:text="Week"></option>
            <option th:value="'D'" th:text="Day"></option>
        </select>
        <label for="bp">Bug report: </label>
        <select id="bp" name="bp" th:field="*{bp}">
            <option th:value="'A'" th:text="All"></option>
            <option th:value="'Y'" th:text="Yes"></option>
            <option th:value="'N'" th:text="No"></option>
        </select>
<!--        <input type="hidden" id="product" name="product" th:field="*{product}" th:value="${pname}" />-->
        <input type="hidden" id="product" name="product" th:field="*{product}" />
        <!--<input type="hidden" id="uimodel" name="uimodel" th:field="*{uiModel}" th:value="${filter.getUiModel()}">-->
        <input type="submit" value="Filter" />
    </form>
    <table>
        <thead>
        <tr class="headings">
            <th th:each="header: ${headers}" class="column-title" th:text="${header}" />
        </tr>
        </thead>

        <tbody>
        <tr class="even pointer" th:each="row: ${rows}" th:class="${row.get('updated')}? 'highlight'">
            <td th:each="header: ${headers}" th:text="${row.get(header)}" />
        </tr>
        </tbody>
    </table>
    <form action="#" th:action="@{/notify}" th:object="${notif}" method="post">
        <input type="hidden" id="nproduct" name="product" th:field="*{product}" />
        <label for="uid">User id: </label>
        <input id="uid" type="text" th:field="*{uid}" placeholder="000" />
        <input type="submit" value="Notify User" />
    </form>
    <p th:text="${notifState}"></p>
</body>
</html>